<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApplicationY</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ApplicationY.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm fixed-bottom bot-navbar shadow-sm p-2 ps-3 pe-3" id="MainBotOffNavbar">
            <div class="mt-1 mx-auto">
                <div class="row" id="MainBotOffNavbar_Box">
                    <div class="col" style="display: none;" id="ReserveColumn_Container">
                        <button type="button" class="btn btn-navbar w-100" style="display: none;" id="FourthReserve_Btn"></button>
                    </div>
                    <div class="col">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-navbar w-100" id="HomeLink_Btn"> <i class="fas fa-home text-muted"></i> <br /> Home</a>
                        <button type="button" class="btn btn-navbar w-100" style="display: none;" id="FirstReserve_Btn"></button>
                    </div>
                    <div class="col">
                        <a asp-controller="Home" asp-action="Search" class="btn btn-navbar w-100" id="SearchLink_Btn"> <i class="fas fa-search text-muted"></i> <br /> Search</a>
                        <button type="button" class="btn btn-navbar w-100" style="display: none;" id="SecondReserve_Btn"></button>
                    </div>
                    <div class="col">
                        <a asp-controller="User" asp-action="Profile" class="btn btn-navbar w-100" id="ProfileLink_Btn"> <i class="fas fa-user-circle text-muted"></i> <br /> Account</a>
                        <button type="button" class="btn btn-navbar w-100" style="display: none;" id="ThirdReserve_Btn"></button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="static-bar shadow-standard p-2" id="StatusBar_Container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-light float-end btn-status-bar-close btn-sm btn-standard-not-animated fw-500" id="StatusBar_Container-Close"> <i class="fas fa-chevron-down btn-status-bar-close" id="StatusBar_Container-CloseY"></i> Hide</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a asp-controller="Project" asp-action="Create" class="btn btn-light btn-standard-not-animated w-100 float-end btn-sm ms-1 me-1"> <i class="far fa-plus-square"></i> <br />Project</a>
            </div>
            <div class="col">
                <a asp-controller="Post" asp-action="CreatePost" class="btn btn-light btn-standard-not-animated float-end w-100 btn-sm ms-1 me-1"> <i class="far fa-sticky-note"></i> <br />Add Post</a>
            </div>
            <div class="col">
                <a asp-controller="Project" asp-action="Liked" class="btn btn-light btn-standard-not-animated w-100 float-end btn-sm ms-1 me-1"> <i class="far fa-heart"></i> <br/>Liked</a> 
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <a asp-controller="Project" asp-action="All" class="btn btn-light btn-standard-not-animated w-100 float-end btn-sm ms-1 me-1"> <i class="far fa-folder-open"></i> <br />Projects</a>
            </div>
            <div class="col">
                <button type="button" class="btn btn-light btn-standard-not-animated w-100 float-end btn-sm ms-1" id="GetNotifications_Btn"> <i class="far fa-bell"></i> <br />Notifications</button>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button type="button" class="btn btn-light btn-standard-not-animated float-end btn-sm ms-1 w-100 me-1" data-bs-toggle="dropdown" aria-expanded="false"> <i class="far fa-comments"></i> <br />Messages</button>
                    <ul class="dropdown-menu p-1 shadow-sm">
                        <li><button type="button" class="dropdown-item mb-1" id="GetMessages_Btn"> <i class="fas fa-reply-all"></i> Received</button></li>
                        <li><button type="button" class="dropdown-item" id="GetSentMessages_Btn"> <i class="fas fa-comment-dots"></i> Sent</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bubble-container mx-auto shadow-sm p-3" id="NotificationsLiquid_Container">
        <button type="button" class="btn btn-standard-not-animated rounded-pill btn-close-liquid-container me-1" id="SB_C-Title"></button>
        <div class="overflow-auto" id="NotificationsLiquid_Container_Box">
            <div class="bg-transparent overflow-auto mh-450 scrollbar-hidden" id="SB_C-Body">

            </div>
            <div class="d-none">
                <form method="post" asp-controller="Notifications" asp-action="Remove" id="RemoveNotification_Form">
                    <input type="hidden" name="Id" id="RN_Id_Val" value="0" />
                    <input type="hidden" name="UserId" id="RN_UserId_Val" value="0" />
                </form>
                <form method="post" asp-controller="Messages" asp-action="Remove" id="RemoveMessages_Form">
                    <input type="hidden" name="Id" id="RM_Id_Val" value="0" />
                    <input type="hidden" name="UserId" id="RM_UserId_Val" value="0" />
                </form>
                <form method="post" asp-controller="Messages" asp-action="MarkAsRead" id="MarkAsRead_Form">
                    <input type="hidden" name="MessageId" id="MaR_Id_Val" value="0" />
                    <input type="hidden" name="UserId" id="MaR_UserId_Val" value="0" />
                </form>
                <form method="get" asp-controller="Messages" asp-action="GetMessageInfo" id="GetMessageInfo_Form">
                    <input type="hidden" name="Id" id="GMI_Id_Val" value="0" />
                </form>
                <form method="post" asp-controller="Messages" asp-action="RemoveSentMessage" id="RemoveSentMessage_Form">
                    <input type="hidden" name="Id" id="RSM_Id_Val" value="0" />
                    <input type="hidden" name="UserId" id="RSM_UserId_Val" value="0" />
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-modal-container p-3 text-start shadow-sm backdrop-filter-blur" id="MainModal_Container">
        <div class="row">
            <div class="col col-1">
                <h4 class="h4" id="MMC_Icon"></h4>
            </div>
            <div class="col col-11">
                <p class="card-text fs-6" id="MMC_Text">Main modal container text label.</p>
            </div>
        </div>
        <div class="mt-1">
            <button type="button" class="btn btn-standard me-2 btn-sm" style="display: none;" id="MMC_FirstBtn">Button 1</button>
            <button type="button" class="btn btn-standard btn-sm" style="display: none;" id="MMC_SecondBtn">Button 2</button>
        </div>
    </div>
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <button type="button" class="btn btn-right-bottom-fixed rounded-circle btn-static-bar-open" id="StatusBar_Container-Open"> <i class="fas fa-bars btn-static-bar-open" id="StatusBar_Container-OpenX"></i> </button>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6430643143.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
