@model SignIn_ViewModel
@{
    ViewData["Title"] = "Log or Sign In";

    bool IsForSigningIn = ViewBag.Reason;
}

<div class="main-sidebar p-3 shadow-sm" id="Main_SideBar">
    <div class="p-2 pt-1">
        <div class="box-container bg-light p-3 text-center">
            <h1 class="h1 safe-font text-primary">App Name</h1>
            <div class="mt-1">
                <p class="card-text text-muted">stay in touch with all newest projects and news with us</p>
            </div>
        </div>
        <div class="bordered-container mt-1 p-1 text-center">
            <div>
                <div class="row">
                    <div class="col">
                        <a asp-controller="Home" asp-action="About" class="btn btn-standard-not-animated w-100 btn-sm">About</a>
                    </div>
                    <div class="col">
                        <a asp-controller="Home" asp-action="QA" class="btn btn-standard-not-animated w-100 btn-sm">QA and Instructions</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="unkillable-smallside-box-container p-2 bottom-0 shadow-standard d-block mh-280 scrollbar-hidden">
            <div>
                <h6 class="h6">Languages</h6>
                <div class="mt-3">
                    <div>
                        <button type="button" class="btn btn-light btn-sm text-start btn-standard-not-animated w-100 btn-select-localization" id="LanguageSelect-0"><span class="badge bg-light text-primary"> <i class="fas fa-flag-usa"></i> </span> English, USA</button>
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-light btn-sm text-start btn-standard-not-animated w-100 btn-select-localization disabled" id="LanguageSelect-1" disabled><span class="badge bg-danger text-light"> <i class="fas fa-language"></i> </span> Russian</button>
                    </div>
                    <div class="mt-1">
                        <small class="card-text text-muted ms-1">Temporarely unavailable because we're working on it right now</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="PasswordRecovering_Container">
        <div>
            <div class="header-container p-3 pb-2" id="PasswordRecovering_Container-Header">
                <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="PasswordRecovering_Container-Close"></button>
                <h5 class="h5 text-truncate">Password Recovering</h5>
            </div>
            <div class="mt-2 p-3 pt-0">
                <form method="post" asp-controller="Account" asp-action="PasswordRecovering" id="PasswordRecovering_Form">
                    <div>
                        <input type="hidden" id="PR_CurrentTypeVal" value="0" />
                        <label class="form-label fw-500 ms-1" for="PR_Username" id="PR_Username_Lbl">Username</label>
                        <input type="text" class="form-control" id="PR_Username" name="Username" autocomplete="off" placeholder="Enter your username here" />
                    </div>
                    <div class="mt-3">
                        <input type="hidden" name="ByUsername" id="PR_ByUsername" value="true" />
                        <label class="form-label fw-500 ms-1" for="PR_ReserveCode">Reserve Code</label>
                        <input type="text" class="form-control" id="PR_ReserveCode" max="6" autocomplete="off" name="ReserveCode" placeholder="Enter reserve code here" />
                    </div>
                    <small class="card-text text-muted">Reserve code is a 6-digit code gave at the time of your registration</small>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col col-8">
                                <button type="submit" class="btn btn-primary btn-standard-with-no-colour w-100">Check</button>
                            </div>
                            <div class="col col-4">
                                <button type="button" class="btn btn-light btn-standard-with-no-colour w-100 text-truncate" id="ChangeRecoveringType_Btn">Continue With Email</button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <button type="button" class="btn btn-light w-100 btn-standard-with-no-colour smallside-btn-open-container " id="PasswordRecoveringViaEmail_Container-Open">I Don't Remember My Code</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="PasswordRecoveringViaEmail_Container">
        <div>
            <div class="header-container p-3 pb-2" id="PasswordRecoveringViaEmail_Container-Header">
                <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="PasswordRecoveringViaEmail_Container-Close"></button>
                <h5 class="h5 text-truncate">Password Recovering via Email</h5>
            </div>
            <div class="mt-2 p-3 pt-0">
                <form method="post" asp-controller="Account" asp-action="SendCode" id="SendCode_Form">
                    <div>
                        <label class="form-label fw-500 ms-1" for="SC_Email">Email</label>
                        <input type="email" class="form-control" autocomplete="off" id="SC_Email" name="Email" placeholder="Enter your email here" />
                    </div>
                    <div class="ms-1 mt-1">
                        <small class="card-text text-muted">We'll receive you your reserve code by your email. After receiving the code you can enter it and recover your password</small>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary btn-standard-with-no-colour w-100">Send Code</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="smallside-box-container shadow-standard" id="CreateNewPassword_Container">
        <div>
            <div class="header-container p-3 pb-2" id="CreateNewPassword_Container-Header">
                <button type="button" class="btn btn-close btn-sm float-end mt-1" aria-label="close" id="CreateNewPassword_Container-Close"></button>
                <h5 class="h5 text-truncate">Create New Password</h5>
            </div>
            <div class="mt-2 p-3 pt-0">
                <form method="post" asp-controller="Account" asp-action="UpdatePassword" id="UpdatePassword_Form">
                    <div>
                        <input type="hidden" name="SearchByUsername" id="SearchByUsername_Val" value="true" />
                        <input type="hidden" name="ReserveCode" id="UP_ReserveCode" value="" />
                        <input type="hidden" name="Token" id="UP_Token" value="" />
                        <label class="form-label fw-500 ms-1" for="CN_EmailOrUsername">Username or Email</label>
                        <input type="text" class="form-control" autocomplete="off" id="CN_EmailOrUsername" name="EmailOrUsername" placeholder="Your email or username" readonly />
                    </div>
                    <div class="mt-3">
                        <label class="form-label fw-500 ms-1" for="NewPassword">New Password</label>
                        <input type="password" class="form-control" autocomplete="off" id="NewPassword" name="Password" placeholder="Enter your new password here" maxlength="24" />
                    </div>
                    <small class="card-text text-muted">Password must contain from 8 and up to 24 digits</small>
                    <div class="mt-3">
                        <label class="form-label fw-500 ms-1" for="NewPassword_Confirm">Confirm Password</label>
                        <input type="password" class="form-control" autocomplete="off" id="NewPassword_Confirm" name="PasswordConfirm" placeholder="Confirm your password here" />
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary btn-standard-with-no-colour w-100">Update and Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="main-container p-3 shadow-standard" id="SignInComplete_Container">
    <div class="text-center">
        <h3 class="h3 text-primary">You've successfully signed in</h3>
        <small class="card-text text-muted">Please, remember or note the code below. You'll need with any neccessary actions with your account, such as password recovery or change</small>
        <div class="mt-3 box-container shadow-sm p-3">
            <h1 class="h1 display-4 safe-font" id="CodeText_Label">0abc12</h1>
            <small class="card-text text-muted">Continue if you have already saved this somewhere</small>
        </div>
        <div class="mt-3">
            <div class="row">
                <div class="col col-7">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-standard-with-no-colour w-100">Continue</a>
                </div>
                <div class="col col-5">
                    <button type="button" class="btn btn-back btn-light btn-standard-with-no-colour btn-open-container w-100" id="Preload_Container-Open">Stay On This Page</button>
                </div>
            </div>
        </div>
    </div>
</div>

@if (IsForSigningIn)
{
    <div class="main-container shadow-standard" id="Second_Container">
        <div class="header-container p-3 pb-2" id="Second_Container-Header">
            <button type="button" class="btn btn-close btn-sm float-end mt-1 ms-1" aria-label="close" id="Second_Container-Close"></button>
            <button type="button" class="btn btn-standard-not-animated btn-sm float-end btn-open-container mt-1" id="Preload_Container-Open">Sign In</button>
            <h5 class="h5 text-truncate">Log In</h5>
        </div>
        <div class="p-3 pt-2">
            <div>
                <form method="post" asp-controller="Account" asp-action="LogIn" id="LogIn_Form">
                    <div>
                        <label asp-for="UserName" for="LogIn_UserName" class="form-label fw-500 ms-1">Username or Email</label>
                        <input asp-for="UserName" id="LogIn_UserName" maxlength="75" class="form-control form-control-check shadow-none" data-bs-html="LogInSbmt_Btn" autocomplete="off" placeholder="Enter your username or email" />
                    </div>
                    <div>
                        <small class="card-text text-muted">You may use your username or email to log in to your account</small>
                    </div>
                    <div class="mt-3">
                        <label asp-for="Password" for="LogIn_Password" class="form-label fw-500 ms-1">Password</label>
                        <input asp-for="Password" id="LogIn_Password" class="form-control form-control-check shadow-none" data-bs-min-length="8" data-bs-html="LogInSbmt_Btn" placeholder="Enter your password here" />
                    </div>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col col-7">
                                <button type="submit" class="btn btn-primary btn-standard-with-no-colour w-100" id="LogInSbmt_Btn" disabled>Enter</button>
                            </div>
                            <div class="col col-5">
                                <button type="button" class="btn btn-light btn-standard-with-no-colour smallside-btn-open-container w-100" id="PasswordRecovering_Container-Open">Forgot Password?</button>
                            </div>
                        </div>
                    </div>
                </form>
             </div>
            <div class="bordered-container mt-3 p-2">
                <h5 class="h5">Tips & Advices</h5>
                <div class="border-top mt-2 pt-2"></div>
                <div class="p-1 pt-0 pb-0">
                    <h5 class="h5">1.</h5>
                    <span class="card-text fw-500">Enable logging in with <span class="fw-500">reserve code</span></span>
                    <div></div>
                    <small class="card-text text-muted">This will let you to enter into your account by your <span class="fw-500">reserve code</span> instead of using password. By the way, you may change back to your password whenewer you wish. You can do this from your account <span class="fw-500">main settings</span></small>
                </div>
                <div class="p-1 pt-0 pb-0 mt-3">
                    <h5 class="h5">2.</h5>
                    <span class="card-text fw-500">Disable your messages</span>
                    <div></div>
                    <small class="card-text text-muted">Disabled messages allow you to not get disturbed by tons of messages so it keeps you in silence and peace. This option is available now from your account <span class="fw-500">main settings</span></small>
                </div>
                <div class="border-top mt-2 pt-2 p-1 pb-0">
                    <small class="card-text text-muted"> <i class="fas fa-ellipsis-h"></i> more tips and answers to frequently asked questions <a asp-controller="Home" asp-action="QA" class="text-decoration-none text-primary">by this link</a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container shadow-standard" id="Preload_Container">
        <div class="header-container p-3 pb-2" id="Preload_Container-Header">
            <button type="button" class="btn btn-close btn-sm float-end mt-1 ms-1" aria-label="close" id="Preload_Container-Close"></button>
            <button type="button" class="btn btn-standard-not-animated btn-sm float-end btn-open-container mt-1" id="Second_Container-Open">Log In</button>
            <h5 class="h5 text-truncate">Sign In</h5>
        </div>
        <div class="p-3 pt-2">
            <div class="d-none">
                <form method="get" asp-controller="Account" asp-action="IsUserNameUnique" id="IsUserNameUnique_Form">
                    <input type="hidden" name="UserName" id="IUNU_Val" />
                </form>
            </div>
            <div>
                <form method="post" asp-controller="Account" asp-action="SignIn" id="SignIn_Form">
                    <div class="mt-2">
                        <label class="fw-500 ms-1" asp-for="Email">Email Address</label>
                        <span class="badge warning-badge mb-1" asp-validation-for="Email"></span>
                        <input asp-for="Email" class="form-control form-control-check shadow-none mt-2" data-bs-html="SignInSbmt_Btn" placeholder="emailname@example.com" />
                    </div>
                    <div class="mt-3">
                        <small><span class="card-text ms-1" style="border-radius: 5px;" id="IUNU_Badge"></span></small>
                        <label class="fw-500 ms-1" asp-for="UserName">Username</label>
                        <span class="badge warning-badge mb-1" asp-validation-for="UserName"></span>
                        <button type="button" class="btn text-dark btn-standard-with-no-colour border-0 p-0 pb-1 ms-1 btn-sm info-popover shadow-none" data-bs-custom-class="info-popover-show" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Here are all allowed symbols for your username: <div></div> <ul><li class='card-text'>[A-Z, a-z]</li><li class='card-text'>[0-9], including numpad numbers</li><li class='card-text'>[hyphern (-), underscore (_)]</li></ul><div></div> No other keys are allowed for usernames and searchnames (you may edit your searchname at your profile settings)" data-bs-html="true"> <i class="fas fa-info-circle"></i> </button>
                        <input asp-for="UserName" class="form-control shadow-none mt-2 only-keys-input" autocomplete="off" placeholder="Enter your username" />
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted ms-1">Username must be unique and cannot be changed later. Username is used for easy entry to your account. Either way you can use your email to enter</small>
                    </div>
                    <div class="mt-3">
                        <label class="fw-500 ms-1" asp-for="Password">Password</label>
                        <span class="badge warning-badge mb-1" asp-validation-for="Password"></span>
                        <input asp-for="Password" class="form-control form-control-check shadow-none mt-2" data-bs-min-length="8" data-bs-html="SignInSbmt_Btn" placeholder="Enter password" />
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Password must contain from 8 and up to 24 digits. <span class="card-text fw-500 text-muted btn-randomize" id="SetValueFor-Password" data-bs-type="0">Click to create a random 12 digit password</span></small>
                    </div>
                    <div class="mt-3">
                        <label class="fw-500 ms-1" asp-for="PasswordConfirm">Confirm Password</label>
                        <span class="badge warning-badge mb-1" asp-validation-for="PasswordConfirm"></span>
                        <input asp-for="PasswordConfirm" class="form-control form-control-check shadow-none mt-2" data-bs-min-length="8" data-bs-html="SignInSbmt_Btn" placeholder="Confirm your password" />
                    </div>
                    <small class="card-text text-muted ms-1">Confirm your password</small>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col col-7">
                                <button type="submit" class="btn btn-primary w-100 btn-standard-with-no-colour" disabled id="SignInSbmt_Btn">Create</button>
                            </div>
                            <div class="col col-5">
                                <button type="button" class="btn btn-light btn-standard-with-no-colour w-100 btn-open-container" id="Second_Container-Open">Log In</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="bordered-container mt-3 p-2">
                <h5 class="h5">Tips & Advices</h5>
                <div class="border-top mt-2 pt-2"></div>
                <div class="p-1 pt-0 pb-0">
                    <h5 class="h5">1.</h5>
                    <span class="card-text fw-500">Enable logging in with <span class="fw-500">reserve code</span></span>
                    <div></div>
                    <small class="card-text text-muted">This will let you to enter into your account by your <span class="fw-500">reserve code</span> instead of using password. By the way, you may change back to your password whenewer you wish. You can do this from your account <span class="fw-500">main settings</span></small>
                </div>
                <div class="p-1 pt-0 pb-0 mt-3">
                    <h5 class="h5">2.</h5>
                    <span class="card-text fw-500">Disable your messages</span>
                    <div></div>
                    <small class="card-text text-muted">Disabled messages allow you to not get disturbed by tons of messages so it keeps you in silence and peace. This option is available now from your account <span class="fw-500">main settings</span></small>
                </div>
                <div class="border-top mt-2 pt-2 p-1 pb-0">
                    <small class="card-text text-muted"> <i class="fas fa-ellipsis-h"></i> more tips and answers to frequently asked questions <a asp-controller="Home" asp-action="QA" class="text-decoration-none text-primary">by this link</a></small>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="main-container shadow-standard" id="Preload_Container">
        <div class="header-container p-3 pb-2" id="Preload_Container-Header">
            <button type="button" class="btn btn-close btn-sm float-end mt-1 ms-1" aria-label="close" id="Preload_Container-Close"></button>
            <button type="button" class="btn btn-standard-not-animated btn-sm float-end mt-1 btn-open-container" id="Second_Container-Open">Sign In</button>
            <h5 class="h5 text-truncate">Log In</h5>
        </div>
        <div class="p-3 pt-2">
            <div>
                <form method="post" asp-controller="Account" asp-action="LogIn" id="LogIn_Form">
                    <div>
                        <label asp-for="UserName" for="LogIn_UserName" class="form-label fw-500 ms-1">Username or Email</label>
                        <input asp-for="UserName" id="LogIn_UserName" maxlength="75" class="form-control form-control-check shadow-none" data-bs-html="LogInSbmt_Btn" autocomplete="off" placeholder="Enter your username or email" />
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">You may use your username or email to log in to your account</small>
                    </div>
                    <div class="mt-3">
                        <label asp-for="Password" for="LogIn_Password" class="form-label fw-500 ms-1">Password</label>
                        <input asp-for="Password" id="LogIn_Password" class="form-control form-control-check shadow-none" data-bs-html="LogInSbmt_Btn" data-bs-min-length="8" placeholder="Enter your password here" />
                    </div>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col col-7">
                                <button type="submit" class="btn btn-primary btn-standard-with-no-colour w-100" disabled id="LogInSbmt_Btn">Enter</button>
                            </div>
                            <div class="col col-5">
                                <button type="button" class="btn btn-light btn-standard-with-no-colour smallside-btn-open-container w-100" id="PasswordRecovering_Container-Open">Forgot Password?</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="bordered-container mt-3 p-2">
                <h5 class="h5">Tips & Advices</h5>
                <div class="border-top mt-2 pt-2"></div>
                <div class="p-1 pt-0 pb-0">
                    <h5 class="h5">1.</h5>
                    <span class="card-text fw-500">Enable logging in with <span class="fw-500">reserve code</span></span>
                    <div></div>
                    <small class="card-text text-muted">This will let you to enter into your account by your <span class="fw-500">reserve code</span> instead of using password. By the way, you may change back to your password whenewer you wish. You can do this from your account <span class="fw-500">main settings</span></small>
                </div>
                <div class="p-1 pt-0 pb-0 mt-3">
                    <h5 class="h5">2.</h5>
                    <span class="card-text fw-500">Disable your messages</span>
                    <div></div>
                    <small class="card-text text-muted">Disabled messages allow you to not get disturbed by tons of messages so it keeps you in silence and peace. This option is available now from your account <span class="fw-500">main settings</span></small>
                </div>
                <div class="border-top mt-2 pt-2 p-1 pb-0">
                    <small class="card-text text-muted"> <i class="fas fa-ellipsis-h"></i> more tips and answers to frequently asked questions <a asp-controller="Home" asp-action="QA" class="text-decoration-none text-primary">by this link</a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container shadow-standard" id="Second_Container">
        <div class="header-container p-3 pb-2" id="Second_Container-Header">
            <button type="button" class="btn btn-close btn-sm float-end mt-1 ms-1" aria-label="close" id="Second_Container-Close"></button>
            <button type="button" class="btn btn-standard-not-animated btn-sm float-end btn-open-container mt-1" id="Preload_Container-Open">Log In</button>
            <h5 class="h5 text-truncate">Sign In</h5>
        </div>
        <div class="p-3 pt-2">
            <div class="d-none">
                <form method="get" asp-controller="Account" asp-action="IsUserNameUnique" id="IsUserNameUnique_Form">
                    <input type="hidden" name="UserName" id="IUNU_Val" />
                </form>
            </div>
            <div>
                <form method="post" asp-controller="Account" asp-action="SignIn" id="SignIn_Form">
                    <div class="mt-2">
                        <label class="fw-500 ms-1" asp-for="Email">Email Address</label>
                        <span class="badge warning-badge mb-1" asp-validation-for="Email"></span>
                        <input asp-for="Email" class="form-control form-control-check shadow-none mt-2" data-bs-html="SignInSbmt_Btn" placeholder="emailname@example.com" />
                    </div>
                    <div class="mt-3">
                        <small><span class="card-text ms-1" style="border-radius: 5px;" id="IUNU_Badge"></span></small>
                        <label class="fw-500 ms-1" asp-for="UserName">Username</label>
                        <span class="badge warning-badge mb-1" asp-validation-for="UserName"></span>
                        <button type="button" class="btn text-dark btn-standard-with-no-colour border-0 shadow-none p-0 pb-1 ms-1 btn-sm info-popover" data-bs-custom-class="info-popover-show" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Here are all allowed symbols for your username: <div></div> <ul><li class='card-text'>[A-Z, a-z]</li><li class='card-text'>[0-9], including numpad numbers</li><li class='card-text'>[hyphern (-), underscore (_)]</li></ul><div></div> No other keys are allowed for usernames and searchnames (you may edit your searchname at your profile settings)" data-bs-html="true"> <i class="fas fa-info-circle"></i> </button>
                        <input asp-for="UserName" class="form-control shadow-none mt-2 only-keys-input" autocomplete="off" placeholder="Enter your username" />
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Username must be unique and cannot be changed later. Username is used for easy entry to your account. Either way you can use your email to enter</small>
                    </div>
                    <div class="mt-3">
                        <label class="fw-500 ms-1" asp-for="Password">Password</label>
                        <span class="badge warning-badge mb-1" asp-validation-for="Password"></span>
                        <input asp-for="Password" class="form-control form-control-check shadow-none mt-2" data-bs-html="SignInSbmt_Btn" data-bs-min-length="8" placeholder="Enter password" />
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Password must contain from 8 and up to 24 digits. <span class="card-text fw-500 text-muted btn-randomize" id="SetValueFor-Password" data-bs-type="0">Click to create a random 12 digit password</span></small>
                    </div>
                    <div class="mt-3">
                        <label class="fw-500 ms-1" asp-for="PasswordConfirm">Confirm Password</label>
                        <span class="badge warning-badge mb-1" asp-validation-for="PasswordConfirm"></span>
                        <input asp-for="PasswordConfirm" class="form-control form-control-check shadow-none mt-2" data-bs-html="SignInSbmt_Btn" data-bs-min-length="8" placeholder="Confirm your password" />
                    </div>
                    <div class="ms-1">
                        <small class="card-text text-muted">Confirm your password</small>
                    </div>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col col-7">
                                <button type="submit" class="btn btn-primary w-100 btn-standard-with-no-colour" disabled id="SignInSbmt_Btn">Create</button>
                            </div>
                            <div class="col col-5">
                                <button type="button" class="btn btn-light btn-standard-with-no-colour w-100 btn-open-container" id="Preload_Container-Open">Log In</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="bordered-container mt-3 p-2">
                <h5 class="h5">Tips & Advices</h5>
                <div class="border-top mt-2 pt-2"></div>
                <div class="p-1 pt-0 pb-0">
                    <h5 class="h5">1.</h5>
                    <span class="card-text fw-500">Enable logging in with <span class="fw-500">reserve code</span></span>
                    <div></div>
                    <small class="card-text text-muted">This will let you to enter into your account by your <span class="fw-500">reserve code</span> instead of using password. By the way, you may change back to your password whenewer you wish. You can do this from your account <span class="fw-500">main settings</span></small>
                </div>
                <div class="p-1 pt-0 pb-0 mt-3">
                    <h5 class="h5">2.</h5>
                    <span class="card-text fw-500">Disable your messages</span>
                    <div></div>
                    <small class="card-text text-muted">Disabled messages allow you to not get disturbed by tons of messages so it keeps you in silence and peace. This option is available now from your account <span class="fw-500">main settings</span></small>
                </div>
                <div class="border-top mt-2 pt-2 p-1 pb-0">
                    <small class="card-text text-muted"> <i class="fas fa-ellipsis-h"></i> more tips and answers to frequently asked questions <a asp-controller="Home" asp-action="QA" class="text-decoration-none text-primary">by this link</a></small>
                </div>
            </div>
        </div>
    </div>
}
