@model User
@{
    ViewData["Title"] = "About";
}

<div class="main-container w-100 p-3 shadow-standard" id="Preload_Container">
    <div>
        <div>
            <div class="text-center">
                <h3 class="h3 safe-font">Why We?</h3>
            </div>
            <div class="card-group text-center mt-4 ms-3 me-3">
                <div class="card text-center mt-4">
                    <h1 class="h1 simple-anim text-primary"> <i class="fas fa-circle"></i> </h1>
                    <h3 class="h3 safe-font">Simple</h3>
                    <small class="card-text text-muted">Our project's so simple. You already know how to act with it and you even can use it without signing or logging in</small>
                </div>
                <div class="card text-center me-2 mt-4">
                    <h1 class="h1 hammer-anim text-warning"> <i class="fas fa-hammer"></i> </h1>
                    <h3 class="h3 safe-font">Built-in possibilities</h3>
                    <small class="card-text text-muted">Many built-in possibilities for messaging and acting with every single project</small>
                </div>
                <div class="card text-center me-2 mt-4">
                    <h1 class="h1 heartbeat-anim text-danger"> <i class="fas fa-heart"></i> </h1>
                    <h3 class="h3 safe-font">Save & Share</h3>
                    <small class="card-text text-muted"><strong>Save</strong> your mostly liked projects for you or <strong>share</strong> with others</small>
                </div>
            </div>
            <div class="card-group mt-2 me-3 ms-3">
                <div class="card text-center mt-4">
                    <h1 class="h1 customizable-anim">A to B</h1>
                    <h3 class="h3 safe-font">Expressive</h3>
                    <small class="card-text text-muted">Customize your project however you want</small>
                </div>
                <div class="card text-center mt-4">
                    <h1 class="h1 no-limit-anim text-danger"> <i class="fas fa-infinity"></i> </h1>
                    <h3 class="h3 safe-font">No limits</h3>
                    <small class="card-text text-muted">We've no limits for your projects. Create and share with others as much as you want</small>
                </div>
                <div class="card text-center mt-4">
                    <h1 class="h1 coin-anim text-primary"> <i class="fas fa-search-dollar"></i> </h1>
                    <h3 class="h3 safe-font">Earn and spend</h3>
                    <small class="card-text text-muted">Earn some money for your projects or spend yours to become a member of some team</small>
                </div>
            </div>
            <div class="mt-4 border-top pt-3">
                <div class="text-center">
                    <h3 class="h3 safe-font">Reflexive and Fast</h3>
                    <div class="mt-4">
                        <div class="card-group">
                            <div class="card me-3">
                                <h1 class="h1"> <i class="fas fa-mobile-alt text-primary landscape-form-anim"></i> </h1>
                                <p class="card-text safe-font">On Mobile Phones</p>
                                <small class="card-text text-muted">The application could work on every size of display (even for foldable phones)</small>
                            </div>
                            <div class="card">
                                <h1 class="h1"> <i class="fas fa-tablet-alt text-warning landscape-form-anim"></i> </h1>
                                <p class="card-text safe-font">On Tablets</p>
                                <small class="card-text text-muted">More informative and comfortable design. Looks good, works fast</small>
                            </div>
                        </div>
                        <div class="card-group mt-4">
                            <div class="card">
                                <h1 class="h1"> <i class="fas fa-laptop text-danger"></i> </h1>
                                <p class="card-text safe-font">Laptops and PCs</p>
                                <small class="card-text text-muted">Larger display, larger containers. Similar to tablets, just larger</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 border-top pt-3">
                <div class="box-container shadow-sm p-3 pt-2">
                    <h3 class="h3 safe-font">How this works?</h3>
                    <p class="card-text"><strong>Eclipse</strong> is a cloud based application which is specialized on creating and posting projects (and similar things) of every kind to connect people behind you, earn some money and bring new investors to your project, or just to show and tell about something which was actual at a specified time in the past (films, music, etc.)</p>
                    <div class="card-group mt-3 text-center">
                        <div class="card box-container bg-light p-3">
                            <h1 class="h1 text-primary"> <i class="far fa-folder-open"></i> </h1>
                            <h5 class="h5 safe-font">Create & Post</h5>
                            <small class="card-text text-muted">your own projects, which are going to be based on your own profile. Create them in your specified style via our advanced text editor</small>
                        </div>
                        <div class="card box-container bg-light p-3">
                            <h1 class="h1 text-warning"> <i class="fas fa-i-cursor"></i> </h1>
                            <h5 class="h5 safe-font">Tell about sth</h5>
                            <small class="card-text text-muted">act with your subscribers (or with everyone else). Just post something interesting via special <strong>posts</strong> which were created for that</small>
                        </div>
                    </div>
                    <div class="card-group mt-1 text-center">
                        <div class="card box-container bg-light p-3">
                            <h1 class="h1 text-danger"> <i class="far fa-sticky-note"></i> </h1>
                            <h5 class="h5 safe-font">Save for you</h5>
                            <small class="card-text text-muted">you could save your own projects for you by just locking them. No one will be able to watch them after that (except, ofc, you)</small>
                        </div>
                        <div class="card box-container bg-light p-3">
                            <h1 class="h1 text-primary"> <i class="far fa-comments"></i> </h1>
                            <h5 class="h5 safe-font">Start a conversation</h5>
                            <small class="card-text text-muted">you may start a conversation about that project in special comments part. Reply to other comments and write your own ones</small>
                        </div>
                        <div class="card box-container bg-light p-3">
                            <h1 class="h1 text-warning"> <i class="fas fa-search"></i> </h1>
                            <h5 class="h5 safe-font">Find & Save</h5>
                            <small class="card-text text-muted">find some interesting projects and save them for you. There're no limits for it here you may save and act with them as much as you want</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col col-xl-4 col-lg-4 col-md-8 col-sm-8">
                    <h3 class="h3 safe-font text-primary">Release Notes</h3>
                    <div class="box-container p-3 bg-light mt-3" id="ReleaseNoteBox-1">
                        <div class="float-end ms-1 text-center">
                            <small class="card-text text-muted ms-1">12 mar, 2024</small>
                            <div class="mt-1"></div>
                            <span class="badge bg-white warning-badge text-dark fst-normal">Patch 1.0</span>
                        </div>
                        <h6 class="h6">First Access</h6>
                        <small class="card-text">At this day we gave the start of this application</small>
                    </div>
                    <div class="box-container p-3 bg-light mt-2" id="ReleaseNoteBox-0">
                        <div class="float-end ms-1 text-center">
                            <small class="card-text text-muted ms-1">Today</small>
                            <div class="mt-1"></div>
                            <span class="badge bg-white warning-badge text-dark fst-normal">No Patch Info</span>
                        </div>
                        <h6 class="h6">Let us know what do you think</h6>
                        <small class="card-text">Write us via email, in-app messages or by link on the right. We're waiting for your messages</small>
                    </div>
                </div>
                <div class="col col-xl-8 col-lg-8 col-md-4 col-sm-4">
                    <div class="text-center">
                        <h1 class="h1 text-primary comment-anim"> <i class="far fa-comment"></i> </h1>
                        <h3 class="h3 safe-font">We're waiting for your offers</h3>
                        <small class="card-text text-muted">please send your interesting offers, comments and notices</small>
                        <div class="mt-4">
                            <form method="post" asp-controller="Other" asp-action="SendEmail" id="SendEmail_Form">
                                <textarea class="special-form-control w-100" rows="4" maxlength="1200" placeholder="Enter your offer here, please"></textarea>
                                <button type="submit" class="btn btn-cornerless w-100 mt-1">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-container text-center shadow-sm mt-3 p-3">
                <div class="row">
                    <div class="col">
                        <h6 class="h6">About:</h6>
                        <small class="card-text text-primary"><a asp-controller="Home" asp-action="Privacy" class="text-decoration-none">Privacy</a></small>
                        <div class="mt-1"></div>
                        <small class="card-text text-primary"><a asp-controller="Home" asp-action="Test" class="text-decoration-none">Test page</a></small>
                    </div>
                    <div class="col">
                        <h6 class="h6">Our contacts:</h6>
                        <small class="card-text text-muted"> <i class="fas fa-at text-primary"></i> Inbox: dawnbreakerinfo@gmail.com</small>
                        <div class="mt-1"></div>
                        <small class="card-text text-muted"> <i class="fab fa-twitter text-primary"></i> Twitter/X: Coming soon...</small>
                    </div>
                    <div class="col">
                        <h6 class="h6">More:</h6>
                        <small class="card-text text-primary"><a asp-controller="Home" asp-action="FAQ" class="text-decoration-none">FAQ</a></small>
                        <div class="mt-1"></div>
                        <small class="card-text text-primary"><a asp-controller="Home" asp-action="TextEditor" class="text-decoration-none">About Text editor</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

