@model User
@{
    ViewData["Title"] = "About";
}

<div class="main-container w-100 p-3 shadow-standard" id="Preload_Container">
    <div class="row">
        <div class="col col-8">
@*             <div class="box-container text-center">
                <h1 class="h1 safe-font">Fludd</h1>
                <small class="card-text text-muted">a new timeline of projectmaking</small>
            </div> *@
            <div class="text-center">
                <h3 class="h3 safe-font">Why We?</h3>
            </div>
            <div class="card-group text-center mt-4 ms-3 me-3">
                <div class="card text-center">
                    <h1 class="h1 simple-anim text-primary"> <i class="fas fa-circle"></i> </h1>
                    <h3 class="h3 safe-font">Simple</h3>
                    <small class="card-text text-muted">Our project's so simple. You already know how to act with it and you even can use it without signing or logging in</small>
                </div>
                <div class="card text-center me-2">
                    <h1 class="h1 hammer-anim text-warning"> <i class="fas fa-hammer"></i> </h1>
                    <h3 class="h3 safe-font">Built-in possibilities</h3>
                    <small class="card-text text-muted">Many built-in possibilities for messaging and acting with every single project</small>
                </div>
                <div class="card text-center me-2">
                    <h1 class="h1 heartbeat-anim text-danger"> <i class="fas fa-heart"></i> </h1>
                    <h3 class="h3 safe-font">Save & Share</h3>
                    <small class="card-text text-muted"><strong>Save</strong> your mostly liked projects for you or <strong>share</strong> with others</small>
                </div>
            </div>
            <div class="card-group mt-5 me-3 ms-3">
                <div class="card text-center">
                    <h1 class="h1 customizable-anim">A to B</h1>
                    <h3 class="h3 safe-font">Expressive</h3>
                    <small class="card-text text-muted">Customize your project however you want</small>
                </div>
                <div class="card text-center">
                    <h1 class="h1 no-limit-anim text-danger"> <i class="fas fa-infinity"></i> </h1>
                    <h3 class="h3 safe-font">No limits</h3>
                    <small class="card-text text-muted">We've no limits for your projects. Create and share with others as much as you want</small>
                </div>
                <div class="card text-center">
                    <h1 class="h1 coin-anim text-primary"> <i class="fas fa-search-dollar"></i> </h1>
                    <h3 class="h3 safe-font">Earn and spend</h3>
                    <small class="card-text text-muted">Earn some money for your projects or spend yours to become a member of some team</small>
                </div>
            </div>
        </div>
        <div class="col col-4">

        </div>
    </div>
</div>

