html {
  font-size: 14px;
}

@media (min-width: 717px) {
  html {
    font-size: 17px;
  }
}

.bg-gradient-one {
    background: rgb(213,212,228);
    background: linear-gradient(90deg, rgba(213,212,228,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.bg-gradient-two {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.bg-gradient-three {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.modal-content {
    border-radius: 8px;
    border: 0;
    transition: all ease 0.25s;
}

.static-bar {
    z-index: 0;
    border-radius: 0;
    background-color: white;
    bottom: -1200px;
    display: none;
    position: fixed;
    transition: all ease 0.3s;
}

.white-space-on {
    white-space: pre-line;
}

.bg-deep-purple {
    background-color: rebeccapurple;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.dropdown-menu {
    border: 0;
    background-color: #f8f9fa;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 6px;
    transition: all ease 0.175s;
}
.dropdown-item {
    cursor: pointer;
    border-radius: 6px;
    padding: 3px 6px;
    font-size: medium;
    background-color: #f8f9fa;
    transition: all ease 0.3s;
}
.dropdown-item:hover,
.dropdown-item:active {
    background-color: white;
}

.warning-badge {
    color: white;
    background-color: darkorange;
    border-radius: 5px;
    transition: all ease 0.3s;
}
.warning-badge:hover,
.warning-badge:active {
    background-color: #f8f9fa;
    color: black;
}

.bot-navbar {
    z-index: 0;
    width: 100%;
    border-radius: 0;
    background-color: #f8f9fa;
    text-align: center;
    border: 0;
    border-top: 1px solid rgb(240, 240, 240);
    transition: all ease 0.3s;
}

.main-sidebar {
    left: 0;
    position: absolute;
    width: 35%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
    background-color: white;
    border-right: 1px solid rgb(240, 240, 240);
    display: block;
    transition: all ease 0.35s;
}

.fw-500 {
    font-weight: 500;
}

.card-box-container {
    background-color: #f8f9fa;
    border-radius: 8px 8px 1px 1px;
    transition: all ease 0.3s;
    z-index: 1000;
    display: none;
    bottom: -1200px;
}

.yt-container {
    height: 475px;
    border-radius: 8px;
    transition: all ease 0.3s;
}

.form-select {
    border-radius: 8px;
    transition: all ease 0.3s;
}

.info-popover-show {
    color: black;
    border-radius: 8px;
    border: 1px solid rgb(240, 240, 240);
    background-color: transparent;
    backdrop-filter: blur(4px);
}

.progress-bar {
    background-color: #0d6efd;
    transition: all ease 0.3s;
}
.progress {
    height: 17px;
    border-radius: 8px;
    transition: all ease 0.35s;
}

.number-form-control {
    cursor: pointer;
    font-size: x-large;
    font-family: 'Trebuchet MS';
    border: 2px solid #0d6efd;
    border-radius: 8px;
    padding: 10px;
    outline: 0;
    transition: all ease 0.35s;
}
.number-form-control:hover,
.number-form-control:active {
    border-color: rgb(240, 240, 240);
}
.number-form-control:focus {
    border-color: rgb(240, 240, 240);
    border-radius: 34px;
}

.card {
    background-color: white;
    border: none;
    border-radius: 8px;
    transition: all ease 0.3s;
}

.form-control {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 7px;
    resize: none;
    padding: 9px;
    outline: 0;
    transition: all ease 0.25s;
}
.form-control:focus {
    outline: 1px solid rgb(240, 240, 240);
}

.btn-group-member {
    background-color: #f8f9fa;
    font-weight: 500;
    border-radius: 8px;
    border-bottom: 2px solid transparent;
    transition: all ease 0.275s;
}
.btn-group-member:hover,
.btn-group-member:active {
    border-bottom: 2px solid #0d6efd;
    border-radius: 8px 8px 0 0;
}
.btn-group-member-danger {
    background-color: #f8f9fa;
    font-weight: 500;
    border-radius: 8px;
    border-bottom: 2px solid transparent;
    transition: all ease 0.275s;
}
.btn-group-member-danger:hover,
.btn-group-member-danger:active {
    border-bottom: 2px solid #dc3545;
    border-radius: 8px 8px 0 0;
}

.btn-right-bottom-fixed {
    cursor: pointer;
    border-radius: 34px;
    background-color: #0d6efd;
    color: #fdfdfd;
    position: fixed;
    right: 6px;
    transition: all ease 0.4s;
}
.btn-right-bottom-fixed:hover,
.btn-right-bottom-fixed:active {
    background-color: #f8f9fa;
    color: #0d6efd;
}

.btn-text {
    background-color: transparent;
    cursor: pointer;
    padding: 3px 0;
    border-radius: 34px;
    font-weight: 500;
    transition: all ease 0.25s;
}
.btn-text:hover,
.btn-text:active {
    padding: 3px 6px;
    background-color: rgb(240, 240, 240);
}

.btn-standard-with-no-colour {
    cursor: pointer;
    font-weight: 500;
    border-radius: 8px;
    transition: all ease 0.25s;
}
.btn-standard-not-animated {
    cursor: pointer;
    color: black;
    background-color: transparent;
    border: 0;
    font-weight: 500;
    border-radius: 6px;
    padding: 5px 6px 5px 6px;
    transition: all ease 0.25s;
}
.btn-standard-not-animated:hover,
.btn-standard-not-animated:active {
    background-color: rgb(240, 240, 240);
}
.btn-standard {
    cursor: pointer;
    padding: 0;
    color: black;
    background-color: transparent;
    border: 0;
    font-weight: 500;
    border-radius: 6px;
    transition: all ease 0.25s;
}
.btn-standard:hover,
.btn-standard:active {
    padding: 4px 6px 4px 6px;
    background-color: rgb(240, 240, 240);
}
.btn-main-light {
    border-radius: 6px;
    padding: 3px;
    font-weight: 500;
    color: #f8f9fa;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: all ease 0.25s;
}
.btn-main-light:hover,
.btn-main-light:active {
    color: #f8f9fa;
    border-radius: 0;
    border-bottom: 1px solid #f8f9fa;
}
.btn-main-light:focus {
    color: #f8f9fa;
    border-radius: 6px;
    border-bottom: 1px solid transparent;
}
.smallside-modal-container {
    z-index: 1;
    border: 1px solid transparent;
    background-color: #f8f9fa;
    border-radius: 8px;
    position: fixed;
    overflow-y: auto;
    transition: all ease 0.45s;
    bottom: -1200px;
    display: none;
}

.bubble-container {
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid #f8f9fa;
    max-height: 75%;
    width: 70%;
    position: fixed;
    backdrop-filter: blur(4px);
    z-index: 1000;
    display: none;
    top: -1200px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all ease 0.45s;
}

.smallside-box-container {
    z-index: 1000;
    overflow-y: auto;
    bottom: -1200px;
    display: none;
    background-color: white;
    position: fixed;
    border-radius: 8px 8px 1px 1px;
    transition: all ease 0.5s;
}

.btn-navbar {
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    border-radius: 8px;
    transition: all ease 0.3s;
}
.btn-navbar:hover,
.btn-navbar:active{
    color: #0d6efd;
    border-radius: 0;
    border-bottom: 2px solid #0d6efd;
}

.safe-font {
    font-family: 'Trebuchet MS';
}

.container {
    border-radius: 8px;
    transition: all ease 0.3s;
}
.main-container {
    z-index: 10;
    position: fixed;
    overflow-y: auto;
    border-radius: 8px 8px 2px 2px;
    background-color: white;
    bottom: -1200px;
    display: none;
    transition: all ease 0.55s;
}
.box-container {
    border-radius: 10px;
    background-color: white;
    transition: all ease 0.3s;
}
.bordered-container {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 8px;
    background-color: transparent;
    transition: all ease 0.3s;
}
.card-modal-container {
    width: 125px;
    z-index: 1;
    border-radius: 6px 6px 1px 1px;
    position: fixed;
    background-color: white;
    bottom: -1200px;
    display: none;
    transition: all ease 0.5s;
}

.accordion-body {
    border-radius: 8px;
    transition: all ease 0.3s;
}
.accordion-item {
    border-radius: 8px;
    border: 0;
    transition: all ease 0.3s;
}

.btn-back {
    cursor: pointer;
    font-weight: 500;
    border: 0;
    background-color: transparent;
    color: black;
    border-radius: 8px;
    transition: all ease 0.25s;
}
.btn-back:hover,
.btn-back:active {
    background-color: rgb(240, 240, 240);
}
.btn-close {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 34px;
    transition: all ease 0.3s;
}
.btn-close:hover,
.btn-close:active {
    background-color: rgb(240, 240, 240);
}

.shadow-standard {
    box-shadow: rgba(0, 0, 0, 0.1) 1px -2px 2px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%; 
}

body {
  margin-bottom: 60px;
  background-color: #fdfdfd;
}


.send-msg-form-control {
    border-radius: 34px;
    outline: none;
    transition: all ease 0.3s;
}
.send-msg-form-control:focus {
    border-radius: 8px;
}

.rounded-message-btn {
    color: white;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: #0d6efd;
    border-radius: 34px;
    transition: all ease 0.35s;
}
.rounded-message-btn:hover,
.rounded-message-btn:active {
    background-color: #f8f9fa;
    color: #0d6efd;
    border-color: rgb(240, 240, 240);
}

.text-len-badge {
    background-color: #0d6efd;
    color: #f8f9fa;
    border: 1px solid #0d6efd;
    font-family: 'Trebuchet MS';
    transition: all ease 0.3s;
}
.text-len-badge:hover,
.text-len-badge:active {
    border: 1px solid rgb(240, 240, 240);
    animation-name: text-len-animation;
    animation-duration: 0.5s;
    animation-delay: 0.05s;
}

.yt-icon {
    cursor: pointer;
}
.yt-icon:hover,
.yt-icon:active {
    animation-delay: 0.05s;
    animation: yt-animation 1s linear infinite;
}

.fast-transition {
    transition: all ease 0.25s;
}
.standard-transition {
    transition: all ease 0.325s;
}
.long-transition {
    transition: all ease 0.65s;
}

.backdrop-filter-blur {
    backdrop-filter: blur(5px);
}
.appeared-container {
    filter: drop-shadow(45px);
}

.mh-perc-65 {
    max-height: 65%;
}
.border-straight { 
    border-radius: 0;
}

@keyframes text-len-animation {
    0% {
        background-color: #f8f9fa;
    }
    100% {
        border-radius: 34px;
        background-color: #f8f9fa;
    }
}

@keyframes yt-animation {

}

@media screen and (max-height: 650px) {
    .yt-container {
        height: 160px;
    }
} 
@media screen and (max-height: 800px) {
    .yt-container {
        height: 200px;
    }
}
@media screen and (max-height: 1000px) {
    .yt-container {
        height: 280px;
    }
}
@media screen and (max-height: 1250px) {
    .yt-container {
        height: 345px;
    }
}